<main class="index">
    <header class="header d-flex text-light">
        <div class="container text-center my-auto">
            <h1 class="mb-1">CRUD Nodejs Mysql</h1>
            <h3 class="mb-4"><em>Utilizando tecnologia web</em></h3>
            <a href="/registro" class="btn btn-warning text-light">Empieza Ahora!</a>
        </div>
    </header>
</main>