<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.fullname}}</h3>
                    <h4>{{user.username}}</h4>
                    <a class="m-3 btn btn-info" href="/links">
                        Guada tus datos
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>