<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link log-out" href="#"
              data-toggle="modal" data-target="#signinModal"
              style="display:none;"
                >Signin <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link log-out" href="#" data-toggle="modal" data-target="#signupModal" style="display:none;">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link log-in" href="#" id="logout" style="display:none;">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>