<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrate</h3>
                </div>
                <div class=" card-body">
                <form action="/registro" method="POST">
                    <div class="form-group">
                        <input type="text" name="fullname" class="form-control" placeholder="Escribe tu nombre completo"
                            autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" class="form-control"
                            placeholder="Escribe tu nombre de usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Escribe tu password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Registrarse
                        </button>
                    </div>
                    <div class="form-group">
                        <a href="/login">¿Ya tienes cuenta? Comienza</a>
                    </div>
                </form>
            </div>
            </div> 
        </div>
    </div>
</div>